<!DOCTYPE html>
<html class="theme-dark" lang="en-us">

<head>
    <meta charset="UTF-8">
    <!--title-->
    <title id="title"></title>
    <!-- description & other meta -->
    <meta name="description" content="EPCR Services can help you build your website and backend server.">
    <meta name="keywords" content="coding, code website, website, server, develop website, website">
    <meta name="robots">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico" />
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>

    <div id="visibleContent">
        <nav id="navbar" class="sticky">
            <ul id="navbar-list">

            </ul>
        </nav>
        <main id="contentcontainer">

        </main>
        <div id="footer">

        </div>
    </div>

    <div id="invisibleContent" class="invisible">
        <!--libraries-->
        <script src="script/html.js"></script>
        <!--scripts-->
        <script src="script/populator.js"></script>

        <!--sticky header-->
        <!-- <script src="script/sticky.js"></script> -->
    </div>
</body>

</html>