<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <!--title-->
    <title id="title"></title>
    <!-- description & other meta -->
    <meta name="description" content="EPCR Services can help you build your website and backend server.">
    <meta name="keywords" content="coding, code website, website, server, develop website, website">
    <meta name="robots">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico" />
    <!-- onload emergency stylesheet-->
    <style>
        :root {
            --palette-background: black;
            --palette-background-mod: black;
        }
    </style>
    <!-- stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>

    <div id="visibleContent">
    </div>

    <div id="invisibleContent">
        <!--libraries-->
        <script src="script/html.js"></script>
        <!--scripts-->
        <script src="script/populator.js"></script>

        <!-- info for populator -->
        <script id="elementInfo">
        </script>
    </div>
</body>

</html>