/* General */

*, *::after, *::before {
    text-rendering: optimizeLegibility;
}

:root {
    font-size: 16px;
    font-family: 'Montserrat', 'Poppins', sans-serif;
    font-weight: 80;
    line-height: 1.5em;
    color: var(--main-invert);
    --nav-margin-left: 5rem;
}

body {
    background: var(--background);
    margin: 0;
    padding: 0;
}

/* Themes */

.theme-dark {
    --main: #36393f;
    --main-mod: #40444b;
    --background: #2f3136;
    --background-mod: #292b2f;
    --contrast: #7289da;
    --contrast-mod: #677bc4;
    --main-invert: #dcddde
}

.theme-light {
    --main: #ffffff;
    --main-mod: #ebedef;
    --background: #f2f3f5;
    --background-mod: #ebedef;
    --contrast: #7289da;
    --contrast-mod: #677bc4;
    --main-invert: #2e3338
}

/* General Classes */

.invisible {
    display: none;
}

.pseudo-invisible {
    opacity: 0;
}

/* Main Content */

main {
    background: var(--main);
    padding: 1.5em 2vw;
    margin: 4vw;
    /* margin-left: calc(4vw + var(--nav-margin-left)); */
    min-height: 5em;
}

/* Main Image */

#topContainer {
    margin: 0;
    margin-left: var(--nav-margin-left);
    padding: 0;
}

#mainImage {
    image-resolution: 100vw;
    width: 100vw;
    max-height: 15vmax;
    object-fit: cover;
    display: block;
}

/* Navbar */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
}

#navbar {
    width: var(--nav-margin-left);
    height: 100vh;
    background: var(--contrast);
}

/* Footer */

#footer {
    margin:0;
    padding: 2em;
    background: var(--background-mod);
    width: 100vw;
}

/* Scrollbar */

body::-webkit-scrollbar {
    width: 0.25em;
}

body::-webkit-scrollbar-track {
    background: var(--background-mod)
}

body::-webkit-scrollbar-thumb {
    background: var(--contrast);
    border-radius: 0.125em;
}