::-root {
    --background: #111111
}

body {
    margin: 0;
    background: var(--background);
    font-family: 'Montserrat', 'Poppins', sans-serif;
    font-weight: 80;
    line-height: 1.5em;
    color: var(--main-invert);
    text-rendering: optimizeLegibility;
}

#invisibleContent {
    display: none;
}

.invisible {
    display: none;
}

.pseudo-invisible {
    opacity: 0;
}

/* main content */

#mainImage {
    image-resolution: 100vw;
    width: 100%;
    max-height: 15vmax;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
}

main {
    background: var(--main);
    padding: 1.5em 2vw;
    margin: 4vw;
    min-height: 5em;
}

/* 404 page */

.bigtext {
    font-size: 50vmin;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    color: var(--background-mod);
}

.subtext {
    font-size: 10vmin;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: var(--main-invert);
    margin: 2vmin;
}

/* toolbar */

.toolbar-container {
    width: 95%;
    margin: 0;
    float: left;
}

header {
    background: var(--contrast);
    margin: 0;
    padding: 0;
    box-shadow: -0px -5px 7px 10px rgba(0, 0, 0, 0.5);
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.toolbar-image {
    height: 3em;
    float: left;
    padding: 0;
}

.toolbar {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: block;
}

.toolbar-item-container {
    float: left;
}

.toolbar-item-container a {
    display: inline-block;
    max-height: 1em;
    padding: 0.85em 1em 1.2em 1em;
    margin: 0;
    position: relative;
    transition: 130ms;
    color: var(--main-invert);
    text-decoration: none;
    font-size: 1em;
    transition: background-color 300ms ease;
}

.toolbar-item-container a:hover {
    background-color: var(--contrast-mod);
}